.cartContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 90vh;
}

.imgDiv {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0.75rem;
}

.subTotal {
  margin-top: 2rem;
}

.checkoutDiv {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}

.checkoutButton {
  background-color: var(--dark-cream);
  text-decoration: none;
}
.checkoutButton:hover {
  color: var(--black) !important;
  border-color: var(--dark-cream) !important;
}

.deleteAnchor {
  color: #007185;
  margin-left: 1rem;
  text-decoration: none;
}

p {
  font-size: clamp(0.85rem, 1vw, 1.25rem);
}
