.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 90vh;
}

.imgDiv {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0.75rem;
}

.cardDiv {
  margin-top: 5rem;
}

.orderCard {
  margin: 2rem 0;
}
