.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 90vh;
  padding-top: 8dvh;
}

.imgDiv {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  margin: 0.75rem;
}

.cardDiv {
  display: flex;
  flex-direction: column;
  margin: 3rem 0 3rem 0;
}

.orderCard {
  margin: 1.5rem 0;
}

.button {
  margin-bottom: 2rem;
  background-color: var(--dark-cream);
}

p {
  font-size: clamp(0.85rem, 1vw, 1.25rem);
}
