.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 90vh;
}

.imgDiv {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0.75rem;
}

.cardDiv {
  margin-top: 5rem;
  display: flex;
  flex-direction: column;
}

.orderCard {
  margin: 1.5rem 0;
}

.button {
  margin-bottom: 2rem;
  background-color: var(--dark-cream);
}
