:root {
  --white: #fff;
  --black: #000;
  --dark-gray: #333;
  --light-gray: #c3c3c3;
  --gray: #999;
  --dark: #353d3f;
  --darker: #212628;
  --darkest: #101213;
  --dark-blue: #313866;
  --light-green: #c1e4da;
  --mid-green: #70aeaa;
  --dark-green: #598983;
  --red: #ed4c3e;
  --red-dark: #dd3e34;
  --logo-brown: #8d665e;
  --cream: #fff5ee;
  --light-cream: #fffff8;
  --mid-cream: #c8a494;
  --dark-cream: #d3b1a0;

  --navbar-bg-color: var(--dark-cream);
  --navbar-text-color: var(--black);
  --navbar-hover-color: var(--black);
}

html,
body {
  font-family: "Montserrat", sans-serif;
  min-height: 100vh;
  padding: 0;
  margin: 0;
  background-color: var(--cream);
}

.dark {
  --background-color: #3b2f2f; /* Warm dark brown */
  --text-color: var(--mid-cream); /* Light cream text */
  --button-bg-color: #5c4033; /* Rich dark brown */
  --button-text-color: var(--mid-cream); /* Light cream button text */
  --accent-color: #c57b57; /* Warm accent color */

  --navbar-bg-color: #2e2e2e; /* Darker background for navbar */
  --navbar-text-color: var(--mid-cream); /* Light cream text for navbar */
  --navbar-hover-color: #efb4a1; /* Warm hover color for navbar links */

  background-color: var(--background-color);
  color: var(--text-color);
}
