.container {
  position: relative;
  min-height: 90svh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.contactForm {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  max-width: 80vw;
  max-height: 80svh;
  margin: 3rem auto;
}

@media screen and (max-width: 410px) {
  .contactForm {
    max-height: 100vh;
    margin-top: 7rem;
  }
}

.contactForm h1 {
  margin-top: 0;
}

.contactFormButton {
  width: 100%;
}

.formText {
  color: var(--dark);
  margin: 20px 0 0 !important;
}
.formItem label {
  color: var(--dark);
}
