.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 90vh;
}
.resetPasswordForm {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 30svh;
  min-width: 30vw;
}
.resetPasswordButton {
  background-color: var(--dark-cream);
  text-decoration: none;
  font-size: clamp(0.85rem, 0.8vw, 1.5rem);
  text-align: center;
  color: var(--black);
  width: 100%;
}

.resetPasswordButton:hover {
  color: var(--black) !important;
  border-color: var(--mid-cream) !important;
  background-color: var(--mid-cream) !important;
}
