.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 90vh;
}

.container h2 {
  text-align: center;
  font-size: clamp(1.5rem, 1.5vw, 2.5rem);
}

.orderCard {
  margin: 1.5rem 0;
}

.imgDiv {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0.75rem;
}
