.main {
  max-width: 100vw;
  min-height: 70svh;
  display: inline;
}

.content {
  position: absolute;
  width: 100%;
  height: 57%;
  top: 0;
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: center;
  color: var(--white);
  margin-top: 4.5rem;
}

video {
  max-width: 100vw;
  min-height: 75svh;
  object-fit: cover;
  display: inline;
}
