.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--navbar-bg-color);
  min-height: 15dvh;
}

.copyright {
  font-size: 0.75rem;
}

.socialsUl li {
  list-style-type: none;
  margin: 1rem 1.75rem 0 1.75rem;
}

.socialsUl {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding-left: 0;
  margin-bottom: 0.25rem;
}

.socialsLink {
  color: var(--navbar-text-color);
}

.socialsLink:hover {
  color: var(--navbar-hover-color);
}

.upArrow {
  text-decoration: none;
  color: var(--navbar-text-color);
  margin-top: 0.75rem;
}

.upArrow:hover {
  color: var(--navbar-hover-color);
}
