.logo {
  height: clamp(3rem, 5vw, 4.5rem);
  width: clamp(6.75rem, 10vw, 9.5rem);
}

.navbar {
  min-height: 8vh;
  max-height: 13vh;
  width: 100%;
  display: flex;
  background-color: var(--navbar-bg-color);
  flex-direction: row;
  justify-content: space-between;
  position: fixed;
  z-index: 100;
  box-shadow: 0 -6px 10px 5px rgba(0, 0, 0, 0.5);
}

.navbar a:hover {
  text-decoration: none;
  color: var(--black);
}

.navDiv {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 0.75rem 0.5rem;
}

@media (max-width: 768px) {
  .navDiv {
    margin: 0.75rem 0.25rem;
  }
}

.navDiv2 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 0.75rem 1rem;
}

@media (max-width: 768px) {
  .navDiv {
    margin: 0.75rem 0.25rem;
  }
}

.logoDiv {
  display: inline;
  margin: 0.7rem 1rem;
}

.logoDiv a {
  display: inline;
}

.navLink {
  text-decoration: none;
  color: var(--navbar-text-color);
  min-width: 4rem;
}

.navLink2 {
  text-decoration: none;
  color: var(--navbar-text-color);
  min-width: 5rem;
  height: auto;
  margin-bottom: 0;
  min-width: 10ch;
  text-align: center;
}

.logoutButton,
.logoutButton:hover {
  background-color: transparent !important;
  height: auto;
  padding: 0;
  text-decoration: none;
  font-size: clamp(0.85rem, 0.8vw, 1rem);
}

.downOutlined {
  font-size: 0.5rem;
  margin-left: 0.15rem;
  color: var(--dark);
}

.navIcon {
  font-size: clamp(0.85rem, 1vw, 1.25rem);
  margin-right: 0.25rem;
}

.themeBtn {
  padding: 0.2rem;
  width: 34px;
  height: 32px;
}

.themeBtn:hover {
  background-color: transparent !important;
}

.themeBtn svg {
  width: 20px;
  height: 20px;
}

.themeLogo {
  text-decoration: none;
  color: var(--black);
  min-width: 4rem;
}

@media (max-width: 768px) {
  .themeLogo {
    min-width: 0;
    max-width: 1.5rem;
    margin-right: 0.7rem;
  }
}
